/* ############
Contents
1 - Global Rules
2 - Grids 2.1 - Small grid 2.2 - Medium grid 2.3 - Large grid
############ */
/* ############
1 - Global rules
############ */
/* Set Box-sizing */
*, *:before, *:after { box-sizing: border-box; }

/* Rows */
.row { clear: both; width: 100%; margin-left: auto; margin-right: auto; }

.row:after { content: ""; display: block; height: 0; clear: both; visibility: hidden; }

/* Block columns */
.col { width: auto; float: none; display: block; margin: 0; padding-left: 0.87083%; padding-right: 0.87083%; }

/* Responsive content */
img, object, embed { max-width: 100%; }

img { height: auto; }

/* ############
2 - Grids
############ */
/* ############
2.1 - Small grid
############ */
/* Small rows */
.row { max-width: 100%; }

/* Small columns */
*[class*="small-"] { display: inline; float: left; margin-right: 1.9%; }

/* Small column classes */
.small-1 { width: 6.59167%; }

.small-2 { width: 15.08333%; }

.small-3 { width: 23.575%; }

.small-4 { width: 32.06667%; }

.small-5 { width: 40.55833%; }

.small-6 { width: 49.05%; }

.small-7 { width: 57.54167%; }

.small-8 { width: 66.03333%; }

.small-9 { width: 74.525%; }

.small-10 { width: 83.01667%; }

.small-11 { width: 91.50833%; }

.small-12 { width: 100%; }

*[class*="small-"]:last-child { margin-right: 0; }

/* Small offset classes */
.small-offset-1 { margin-left: 8.49167%; }

.small-offset-2 { margin-left: 16.98333%; }

.small-offset-3 { margin-left: 25.475%; }

.small-offset-4 { margin-left: 33.96667%; }

.small-offset-5 { margin-left: 42.45833%; }

.small-offset-6 { margin-left: 50.95%; }

.small-offset-7 { margin-left: 59.44167%; }

.small-offset-8 { margin-left: 67.93333%; }

.small-offset-9 { margin-left: 76.425%; }

.small-offset-10 { margin-left: 84.91667%; }

.small-offset-11 { margin-left: 93.40833%; }

/* ############
2.2 - Medium grid
############ */
@media screen and (min-width: 768px) { /* Medium rows */
  .row { max-width: 960px; }
  /* Medium Columns */
  *[class*="med-"] { display: inline; float: left; margin-right: 1.9%; }
  /* Medium column classes */
  .med-1 { width: 6.59167%; }
  .med-2 { width: 15.08333%; }
  .med-3 { width: 23.575%; }
  .med-4 { width: 32.06667%; }
  .med-5 { width: 40.55833%; }
  .med-6 { width: 49.05%; }
  .med-7 { width: 57.54167%; }
  .med-8 { width: 66.03333%; }
  .med-9 { width: 74.525%; }
  .med-10 { width: 83.01667%; }
  .med-11 { width: 91.50833%; }
  .med-12 { width: 100%; }
  *[class*="med-"]:last-child { margin-right: 0; }
  /* Medium offset classes */
  .med-offset-1 { margin-left: 8.49167%; }
  .med-offset-2 { margin-left: 16.98333%; }
  .med-offset-3 { margin-left: 25.475%; }
  .med-offset-4 { margin-left: 33.96667%; }
  .med-offset-5 { margin-left: 42.45833%; }
  .med-offset-6 { margin-left: 50.95%; }
  .med-offset-7 { margin-left: 59.44167%; }
  .med-offset-8 { margin-left: 67.93333%; }
  .med-offset-9 { margin-left: 76.425%; }
  .med-offset-10 { margin-left: 84.91667%; }
  .med-offset-11 { margin-left: 93.40833%; } }
/* ############
2.3 - Large grid
############ */
@media screen and (min-width: 1200px) { /* Large rows */
  .row { max-width: 1180px; }
  /* Large Columns */
  *[class*="large-"] { display: inline; float: left; margin-right: 1.9%; }
  /* Large column classes */
  .large-1 { width: 6.59167%; }
  .large-2 { width: 15.08333%; }
  .large-3 { width: 23.575%; }
  .large-4 { width: 32.06667%; }
  .large-5 { width: 40.55833%; }
  .large-6 { width: 49.05%; }
  .large-7 { width: 57.54167%; }
  .large-8 { width: 66.03333%; }
  .large-9 { width: 74.525%; }
  .large-10 { width: 83.01667%; }
  .large-11 { width: 91.50833%; }
  .large-12 { width: 100%; }
  *[class*="large-"]:last-child { margin-right: 0; }
  /* Large offset classes */
  .large-offset-1 { margin-left: 8.49167%; }
  .large-offset-2 { margin-left: 16.98333%; }
  .large-offset-3 { margin-left: 25.475%; }
  .large-offset-4 { margin-left: 33.96667%; }
  .large-offset-5 { margin-left: 42.45833%; }
  .large-offset-6 { margin-left: 50.95%; }
  .large-offset-7 { margin-left: 59.44167%; }
  .large-offset-8 { margin-left: 67.93333%; }
  .large-offset-9 { margin-left: 76.425%; }
  .large-offset-10 { margin-left: 84.91667%; }
  .large-offset-11 { margin-left: 93.40833%; } }
