/* ############
Medium grid styles for IE
############ */
/* Medium rows */
.row { max-width: 960px; }

/* Medium Columns */
*[class*="med-"] { display: inline; float: left; margin-right: 1.9%; }

/* Medium column classes */
.med-1 { width: 6.59167%; }

.med-2 { width: 15.08333%; }

.med-3 { width: 23.575%; }

.med-4 { width: 32.06667%; }

.med-5 { width: 40.55833%; }

.med-6 { width: 49.05%; }

.med-7 { width: 57.54167%; }

.med-8 { width: 66.03333%; }

.med-9 { width: 74.525%; }

.med-10 { width: 83.01667%; }

.med-11 { width: 91.50833%; }

.med-12 { width: 100%; }

*[class*="med-"]:last-child { margin-right: 0; }

/* Medium offset classes */
.med-offset-1 { margin-left: 8.49167%; }

.med-offset-2 { margin-left: 16.98333%; }

.med-offset-3 { margin-left: 25.475%; }

.med-offset-4 { margin-left: 33.96667%; }

.med-offset-5 { margin-left: 42.45833%; }

.med-offset-6 { margin-left: 50.95%; }

.med-offset-7 { margin-left: 59.44167%; }

.med-offset-8 { margin-left: 67.93333%; }

.med-offset-9 { margin-left: 76.425%; }

.med-offset-10 { margin-left: 84.91667%; }

.med-offset-11 { margin-left: 93.40833%; }

/* ############
Large grid styles for IE
############ */
/* Large rows */
.row { max-width: 1180px; }

/* Large Columns */
*[class*="large-"] { display: inline; float: left; margin-right: 1.9%; }

/* Large column classes */
.large-1 { width: 6.59167%; }

.large-2 { width: 15.08333%; }

.large-3 { width: 23.575%; }

.large-4 { width: 32.06667%; }

.large-5 { width: 40.55833%; }

.large-6 { width: 49.05%; }

.large-7 { width: 57.54167%; }

.large-8 { width: 66.03333%; }

.large-9 { width: 74.525%; }

.large-10 { width: 83.01667%; }

.large-11 { width: 91.50833%; }

.large-12 { width: 100%; }

*[class*="large-"]:last-child { margin-right: 0; }

/* Large offset classes */
.large-offset-1 { margin-left: 8.49167%; }

.large-offset-2 { margin-left: 16.98333%; }

.large-offset-3 { margin-left: 25.475%; }

.large-offset-4 { margin-left: 33.96667%; }

.large-offset-5 { margin-left: 42.45833%; }

.large-offset-6 { margin-left: 50.95%; }

.large-offset-7 { margin-left: 59.44167%; }

.large-offset-8 { margin-left: 67.93333%; }

.large-offset-9 { margin-left: 76.425%; }

.large-offset-10 { margin-left: 84.91667%; }

.large-offset-11 { margin-left: 93.40833%; }
