// 1 - Grid variables
// Edit these values to create your own completely custom grid – you don’t need to touch anything else!

    // Column number and margin width
    $column-count: 12 ; // number of columns in grid – recommend you stick to an value such as 8, 12, 16, 20, 24 etc
    $margin-width: 3.8% ; // Basic space between column contents – including margin and padding
    
    // Breakpoints
    // The widths at which the medium and large media queries are called
    $med-breakpoint: 768px ; // for medium screens
    $large-breakpoint: 1200px ;// for large screens

    // Row sizes
    // The maximum widths of rows at different breakpoints
    $small-row: 100% ; // for small screens - recommend you keep this at 100%
    $med-row: 960px ; // for medium screens
    $large-row: 1180px ; // for large screens


// 2 - Automatic math
// These variables do all the heavy lifting to work out grid values.
// They’re all based on the variables above; you don’t need to touch any of this.

    // Margin number and column width
    $margin-count: $column-count - 1 ; // work out the number of margins between columns
    $column-width: ( 100% - ( $margin-width * $margin-count ) ) / 12 ; // the basic width of column contents
    
    // Margin and padding units
    $margin-unit: $margin-width / 2 ; // the actual CSS margin between columns
    $padding-unit: ( $margin-unit * $margin-count ) / ( $column-count * 2 ) ; // the CSS padding inside columns
    
    // Column width unit
    $column-unit: $column-width + ( $padding-unit * 2 ) ; // the CSS width of columns (width + padding)