/* ############
Contents
1 - Global Rules
2 - Grids
    2.1 - Small grid
    2.2 - Medium grid
    2.3 - Large grid
############ */



/* ############
1 - Global rules
############ */

// The variables control all base grid measurements
@import 'gridvars';

/* Set Box-sizing */
// border-box makes calculating grid sizes much less of a headache.
// It’s only supported in IE8 and up, so if you need to ensure IE7 support
// you’ll need a polyfill. I recommend Christian Schaefer’s solution: https://github.com/Schepp/box-sizing-polyfill
*, *:before, *:after { box-sizing: border-box }

/* Rows */
// These are the base styles for rows. Additional styles are applied based on screen size.
.row {
    clear: both;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

// The below rules are both solutions to collapsing floats.
// The "overflow: auto" solution is simpler and has older browser support,
//  but can cause clipping issues, especially with effects such as box-shadow.
//  Enable this rule (and comment out the other) if you need older browser support.

// old solution - rock solid support, but clipping issues
// .row { overflow: auto }

// new solution - needs testing on older browsers
.row:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* Block columns */
// This is how columns are styled unless overidden with small-*, med-* or large-* classes
.col {
    width: auto;
    float: none;
    display: block;
    margin: 0;
    padding-left: $padding-unit;
    padding-right: $padding-unit;
}

/* Responsive content */
// Ensures that images and other content resize to fit the grid.
// If an img,object or embed is larger than the column width, they shrink to fit it,
// but if they are smaller than the column width they will only display at
// their original size.
img, object, embed { max-width: 100% }
img { height: auto }



/* ############
2 - Grids
############ */


/* ############
2.1 - Small grid
############ */
@import 'grid/small';


/* ############
2.2 - Medium grid
############ */
@media screen and (min-width: $med-breakpoint) {
    @import 'grid/med';
}


/* ############
2.3 - Large grid
############ */
@media screen and (min-width: $large-breakpoint) {
    @import 'grid/large';
}