/* Large rows */
// How rows appear on large screens
.row {
    max-width: $large-row;
}

/* Large Columns */
// These will apply to all larger screen sizes, but won’t appear on anything smaller

*[class*="large-"] {
    display: inline;
    float: left;
    margin-right: $margin-unit;
}

/* Large column classes */
// Specify columns for large screens
@for $n from 1 through $column-count {
    .large-#{$n} { width: ( $column-unit * $n ) + ( $margin-unit * ( $n - 1 ) ) }
}

*[class*="large-"]:last-child { margin-right: 0 }

/* Large offset classes */
// Specify whitespace for large screens
@for $n from 1 through ( $column-count - 1 ) {
    .large-offset-#{$n} { margin-left: ( $column-unit * $n ) + ( $margin-unit * $n ) }
}