/* Medium rows */
// How rows appear on medium screens
.row {
    max-width: $med-row;
}

/* Medium Columns */
// These will apply to all medium and larger screen sizes unless overidden with large-* column classes

*[class*="med-"] {
    display: inline;
    float: left;
    margin-right: $margin-unit;
}

/* Medium column classes */
// Specify columns for medium screens
@for $n from 1 through $column-count {
    .med-#{$n} { width: ( $column-unit * $n ) + ( $margin-unit * ( $n - 1 ) ) }
}

*[class*="med-"]:last-child { margin-right: 0 }

/* Medium offset classes */
// Specify whitespace for medium screens
@for $n from 1 through ( $column-count - 1 ) {
    .med-offset-#{$n} { margin-left: ( $column-unit * $n ) + ( $margin-unit * $n ) }
}