/* Small rows */
// How rows appear on small screens
.row {
    max-width: $small-row;
}

/* Small columns */
// These will apply to all screen sizes unless overidden with med-* or large-* column classes

*[class*="small-"] {
    display: inline;
    float: left;
    margin-right: $margin-unit;
}

/* Small column classes */
// Specify columns for small screens
@for $n from 1 through $column-count {
    .small-#{$n} { width: ( $column-unit * $n ) + ( $margin-unit * ( $n - 1 ) ) }
}

*[class*="small-"]:last-child { margin-right: 0 }

/* Small offset classes */
// Specify whitespace for small screens
@for $n from 1 through ( $column-count - 1 ) {
    .small-offset-#{$n} { margin-left: ( $column-unit * $n ) + ( $margin-unit * $n ) }
}